.git
.gitignore
.gitattributes
.editorconfig
node_modules
vendor
.env
.env.example
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
AGENTS.md
CLAUDE.md